.movieItemContainer {
  background-color: #1f2833;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 425px;
  box-shadow: 0 10px 16px 0 #66fcf1;
  margin: 30px;
}

.movieInformation {
  color: white;
  max-height: 66.25px;
  max-width: 100%;
  font-size: 0.65rem;
  padding: 5px;
}

.movieTitle {
  margin: 0;
}

.movieImage {
  width: 220px;
  height: 75%;
  object-fit: cover;
}

.movieButton {
  background-color: #45a29e;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 85%;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
}

.movieButton:hover {
  background-color: #66fcf1;
  transition: all 0.4s;
}

.movieButton:disabled {
  background-color: #11004400;
  border: 1px solid #66fcf1;
  color: #66fcf1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2833;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #66fcf1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #45a29e;
}
