.movieItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 425px;
  box-shadow: 0 5px 8px 0;
  margin: 20px;
}

.movieInformation {
  max-height: 66.25px;
  max-width: 100%;
  font-size: 0.65rem;
  padding: 5px;
}

.movieTitle {
  margin: 0;
}

.movieImage {
  width: 220px;
  height: 75%;
  object-fit: cover;
}

.movieButton {
  background-color: lightblue;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 85%;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
}

.movieButton:hover {
  background-color: cyan;
  transition: all 0.4s;
}

.movieButton:disabled {
  background-color: darkgray;
}
